<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.usersystem.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ruan.usersystem.entity.User">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="detail_address" jdbcType="VARCHAR" property="detail_address"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>

    </resultMap>
    <insert id="inSertUser" parameterType="com.ruan.usersystem.entity.User">
        INSERT INTO user(account,name,password) VALUES(#{account},#{name},#{password})
    </insert>
<!--    <select id="getName" parameterType="com.ruan.usersystem.entity.User" resultType="com.ruan.usersystem.entity.User">-->
<!--      SELECT * FROM user WHERE name = #{name}-->
<!--    </select>-->
    <select id="queryByUserInfo" resultType="com.ruan.usersystem.entity.User">
        SELECT account, name,id, email FROM user
        <where>
            <if test="account != null">
                account = #{account}
            </if>
        </where>
        ORDER BY id ASC LIMIT ${(pageNum - 1) * pageSize}, ${pageSize}
    </select >
    <select id="queryByUserInfoAndPw" resultType="com.ruan.usersystem.entity.User">
        SELECT account, password, name, email, detail_address,id  FROM user where account = #{account}
    </select >
</mapper>